{% extends "base.html.twig" %}

{% block body %}

    <div class="container">
            <div class="card" style="width: 18rem;">
                <img src="{{ asset('build/images/' ~ program.poster) }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ program.title }}</h5>
                    <p>Saison {{ season.number }} ({{ season.year }})
                    <h6 class="card-title">Episode {{ episode.number }}</h6>
                    <p class="card-text">{{ episode.synopsis }}</p>
                    <a href="#" class="btn btn-primary">Watch Now</a>
                </div>
            </div>
        </div>

{% endblock %}