{% extends "base.html.twig" %}

{% block body %}

        <h1></h1>
    <div class="container">
            <div class="card" style="width: 18rem;">
                <img src="{{ asset('build/images/' ~ program.poster) }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ program.title }}</h5>
                    <p>Saison {{ season.number }} ({{ season.year }})
                    <p class="card-text">{{ season.description }}</p>
                </div>
                 <ul>
                    {% for episode in episodes %}
                        <li>Episode {{ episode.number }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>

{% endblock %}